<div class="stat-row">
    {{#if isGM}}
        <div class="vis-btn" data-key="{{key}}">
            <i class="fas {{#if (getRevealed key revealed)}}fa-eye{{else}}fa-eye-slash{{/if}}"></i>
        </div>
    {{else}}
        <div class="vis-icon"></div>
    {{/if}}
    
    <div class="stat-name rollable {{#unless (getRevealed key revealed)}}dimmed{{/unless}}" 
         data-key="{{key}}" 
         data-label="{{label}}">
        {{label}}
    </div>
    
    {{#if isGM}}
        <div class="input-container">
            {{#if (ne val sourceVal)}}
                <div class="mod-badge {{#if (gt val sourceVal)}}pos{{else}}neg{{/if}}">
                    {{#if (gt val sourceVal)}}+{{/if}}{{sub val sourceVal}}
                </div>
            {{/if}}

            <div class="smart-input-wrapper">
                <input class="direct-edit" 
                       type="number" 
                       name="system.{{key}}" 
                       value="{{sourceVal}}"
                       step="1"
                       data-dtype="Number"/>
                <div class="smart-overlay">{{val}}</div>
            </div>
        </div>
    {{else}}
        <div class="stat-val-display">
            {{#if (getRevealed key revealed)}}{{val}}{{else}}?{{/if}}
        </div>
    {{/if}}
</div>
