<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Название Класса"/></h1>
            <div class="resources-grid">
                <div class="res-box">
                    <label>Ранг Класса</label>
                    {{!-- 9 - Слабый (Новичок), 1 - Сильный (Легенда) --}}
                    <select name="system.rank" style="background:#000; color:#fff; width:100%;">
                        {{selectOptions config.ranks selected=system.rank}}
                    </select>
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Описание</a>
        <a class="item" data-tab="effects">Эффекты</a>
    </nav>

    <section class="sheet-body">
        {{!-- Вкладка Описание --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="panel">
                <h3>Описание Класса</h3>
                <div class="editor-box">
                    {{editor system.description target="system.description" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        {{!-- Вкладка Эффекты --}}
        {{> "systems/dungeon-stone/templates/item/parts/effects-tab.hbs"}}
    </section>
</form>
