<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Название Заклинания"/></h1>
            <div class="grid-3col">
                {{!-- ... Ранг, Мана ... --}}
                <div class="res-box" style="min-width: 50px;"> {{!-- Добавили min-width --}}
                    <label>Ранг</label>
                    <select name="system.rank">
                        {{selectOptions config.ranks selected=system.rank}}
                    </select>
                </div>
                <div class="res-box"><label>Мана</label><input type="number" name="system.manaCost" value="{{system.manaCost}}"/></div>
                
                <div class="res-box">
                    <label>Скалирование</label>
                    <select name="system.scaling" style="width:100%">
                        <option value="spirit" {{#if (eq system.scaling "spirit")}}selected{{/if}}>Дух</option>
                        <option value="accuracy" {{#if (eq system.scaling "accuracy")}}selected{{/if}}>Точность</option>
                        <option value="cognition" {{#if (eq system.scaling "cognition")}}selected{{/if}}>Когнитивность</option>
                        <option value="none" {{#if (eq system.scaling "none")}}selected{{/if}}>Нет броска</option>
                    </select>
                </div>
            </div>
            
            <div class="grid-2col" style="margin-top:5px;">
                <div class="form-group">
                    <label>Урон (Формула)</label>
                    <input type="text" name="system.damage" value="{{system.damage}}" placeholder="3d6"/>
                </div>
                <div class="form-group">
                    <label>Тип Урона</label>
                    <select name="system.damageType">
                        {{selectOptions config.damageTypes selected=system.damageType}}
                    </select>
                </div>
            </div>
            
            <div class="form-group" style="margin-top:5px;">
                <div style="flex:1;">
                    <label>Спасбросок Цели</label>
                    <select name="system.saveAttribute" style="width:100%">
                        <option value="">-- Нет --</option>
                        <option value="physique" {{#if (eq system.saveAttribute "physique")}}selected{{/if}}>Телосложение</option>
                        <option value="agility" {{#if (eq system.saveAttribute "agility")}}selected{{/if}}>Ловкость (Рефлекс)</option>
                        <option value="spirit" {{#if (eq system.saveAttribute "spirit")}}selected{{/if}}>Дух (Воля)</option>
                        <option value="willpower" {{#if (eq system.saveAttribute "willpower")}}selected{{/if}}>Воля (Спец)</option>
                    </select>
                </div>
                <div style="width: 80px;">
                    <label title="Кол-во успехов для спаса">Треб. КУ</label>
                    <input type="number" name="system.saveKU" value="{{system.saveKU}}" placeholder="1"/>
                </div>
                <div style="width: 80px;">
                    <label title="0 = Авторасчет">DC (Слож)</label>
                    <input type="number" name="system.saveDC" value="{{system.saveDC}}" placeholder="Авто"/>
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Описание</a>
        <a class="item" data-tab="effects">Эффекты</a>
    </nav>

    <section class="sheet-body">
        {{!-- Вкладка Описание --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="panel">
                <h3>Описание заклинания</h3>
                <div class="editor-box">
                    {{editor system.description target="system.description" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        {{!-- Вкладка Эффекты --}}
        {{> "systems/dungeon-stone/templates/item/parts/effects-tab.hbs"}}
    </section>
</form>
